@charset "UTF-8";
/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
/**
 * PrismJS 的样式表。颜色全部用变量表示，方便后续切换不同的配色方案。
 */
/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.preview-content.theme-bear-default code[class*=language-],
.preview-content.theme-bear-default pre[class*=language-] {
  color: #222222;
  background: none;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.preview-content.theme-bear-default pre[class*=language-]::-moz-selection, .preview-content.theme-bear-default pre[class*=language-] ::-moz-selection,
.preview-content.theme-bear-default code[class*=language-]::-moz-selection, .preview-content.theme-bear-default code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
.preview-content.theme-bear-default pre[class*=language-]::selection, .preview-content.theme-bear-default pre[class*=language-] ::selection,
.preview-content.theme-bear-default code[class*=language-]::selection, .preview-content.theme-bear-default code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  .preview-content.theme-bear-default code[class*=language-],
  .preview-content.theme-bear-default pre[class*=language-] {
    text-shadow: none;
  }
}
.preview-content.theme-bear-default {
  /* Code blocks */
}
.preview-content.theme-bear-default pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
.preview-content.theme-bear-default :not(pre) > code[class*=language-],
.preview-content.theme-bear-default pre[class*=language-] {
  background: white;
}
.preview-content.theme-bear-default {
  /* Inline code */
}
.preview-content.theme-bear-default :not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.preview-content.theme-bear-default .token.comment,
.preview-content.theme-bear-default .token.prolog,
.preview-content.theme-bear-default .token.doctype,
.preview-content.theme-bear-default .token.cdata {
  color: #575757;
}
.preview-content.theme-bear-default .token.punctuation {
  color: #999;
}
.preview-content.theme-bear-default .token.namespace {
  opacity: 0.7;
}
.preview-content.theme-bear-default .token.number,
.preview-content.theme-bear-default .token.boolean {
  color: #0b5d83;
}
.preview-content.theme-bear-default .token.property,
.preview-content.theme-bear-default .token.tag,
.preview-content.theme-bear-default .token.constant,
.preview-content.theme-bear-default .token.symbol,
.preview-content.theme-bear-default .token.deleted {
  color: #905;
}
.preview-content.theme-bear-default .token.selector,
.preview-content.theme-bear-default .token.string,
.preview-content.theme-bear-default .token.char,
.preview-content.theme-bear-default .token.builtin,
.preview-content.theme-bear-default .token.inserted {
  color: #b43d15;
}
.preview-content.theme-bear-default .token.attr-name {
  color: #b43d15;
}
.preview-content.theme-bear-default .token.char {
  color: #b43d15;
}
.preview-content.theme-bear-default .token.operator,
.preview-content.theme-bear-default .token.entity,
.preview-content.theme-bear-default .token.url,
.preview-content.theme-bear-default .language-css .token.string,
.preview-content.theme-bear-default .style .token.string {
  color: #920448;
  background: none;
}
.preview-content.theme-bear-default .token.atrule,
.preview-content.theme-bear-default .token.attr-value,
.preview-content.theme-bear-default .token.keyword {
  color: #2478c5;
}
.preview-content.theme-bear-default .token.function,
.preview-content.theme-bear-default .token.class-name {
  color: #2478c5;
}
.preview-content.theme-bear-default .token.regex,
.preview-content.theme-bear-default .token.important,
.preview-content.theme-bear-default .token.variable {
  color: #0E73A2;
}
.preview-content.theme-bear-default .token.important,
.preview-content.theme-bear-default .token.bold {
  font-weight: bold;
}
.preview-content.theme-bear-default .token.italic {
  font-style: italic;
}
.preview-content.theme-bear-default .token.entity {
  cursor: help;
}

.preview-content.theme-bear-default {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: #222222;
}

.preview-content.theme-bear-default {
  background-color: white;
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  max-width: 46rem;
  margin: 0px auto;
  padding: 1.6em 3.2em;
}

.preview-content.theme-bear-default * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.preview-content.theme-bear-default > *:first-child {
  margin-top: 0 !important;
}
.preview-content.theme-bear-default > *:last-child {
  margin-top: 0 !important;
}
.preview-content.theme-bear-default p, .preview-content.theme-bear-default pre, .preview-content.theme-bear-default ul, .preview-content.theme-bear-default ol, .preview-content.theme-bear-default dl, .preview-content.theme-bear-default form, .preview-content.theme-bear-default details, .preview-content.theme-bear-default dl, .preview-content.theme-bear-default blockquote, .preview-content.theme-bear-default table, .preview-content.theme-bear-default xmp, .preview-content.theme-bear-default plaintext, .preview-content.theme-bear-default listing, .preview-content.theme-bear-default figure,
.preview-content.theme-bear-default pre[class*=language-] {
  margin: 0.75em 0 0.45em;
}
.preview-content.theme-bear-default hr {
  margin: 0.75em auto;
}
.preview-content.theme-bear-default ul ul, .preview-content.theme-bear-default ul ol, .preview-content.theme-bear-default ol ul, .preview-content.theme-bear-default ol ol {
  margin-bottom: 0px;
}
.preview-content.theme-bear-default h1, .preview-content.theme-bear-default h2, .preview-content.theme-bear-default h3, .preview-content.theme-bear-default h4, .preview-content.theme-bear-default h5, .preview-content.theme-bear-default h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 500;
  line-height: 1.5em;
  color: #262626;
}
.preview-content.theme-bear-default h1 {
  font-size: 1.5em;
}
.preview-content.theme-bear-default h2 {
  font-size: 1.3em;
}
.preview-content.theme-bear-default h3 {
  font-size: 1.1em;
}
.preview-content.theme-bear-default h4 {
  font-size: 1em;
}
.preview-content.theme-bear-default h5 {
  font-size: 1em;
}
.preview-content.theme-bear-default h6 {
  font-size: 1em;
}
.preview-content.theme-bear-default hr {
  height: 1px;
  border: 0;
  background-color: #bfbfbf;
  border-style: inset;
  border-width: 1px;
}
.preview-content.theme-bear-default p {
  margin-left: 0;
  margin-right: 0;
}
.preview-content.theme-bear-default pre, .preview-content.theme-bear-default pre[class*=language-] {
  padding: 0;
  border: 0;
}
.preview-content.theme-bear-default blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid #353535;
}
.preview-content.theme-bear-default blockquote > :first-child {
  margin-top: 0;
}
.preview-content.theme-bear-default blockquote > :last-child {
  margin-bottom: 0;
}
.preview-content.theme-bear-default li {
  word-wrap: break-all;
}
.preview-content.theme-bear-default ul, .preview-content.theme-bear-default ol {
  list-style: none;
}
.preview-content.theme-bear-default ul {
  margin-left: 1.3em;
  padding: 0;
}
.preview-content.theme-bear-default ol {
  margin-left: 1.3em;
  padding: 0;
  counter-reset: ol_counter;
}
.preview-content.theme-bear-default ul > li {
  position: relative;
}
.preview-content.theme-bear-default ul > li:before {
  content: "•";
  color: #353535;
  position: absolute;
  left: -1.1em;
}
.preview-content.theme-bear-default ol > li {
  position: relative;
}
.preview-content.theme-bear-default ol > li:before {
  content: counter(ol_counter) ".";
  counter-increment: ol_counter;
  color: #353535;
  text-align: right;
  min-width: 1em;
  position: absolute;
  left: -1.5em;
}
.preview-content.theme-bear-default li + li {
  margin-top: 0.25em;
}
.preview-content.theme-bear-default ul ul, .preview-content.theme-bear-default ol ul, .preview-content.theme-bear-default ul ol, .preview-content.theme-bear-default ol ol, .preview-content.theme-bear-default li ul, .preview-content.theme-bear-default li ol {
  margin-top: 0.25em;
  margin-left: 2em;
}
.preview-content.theme-bear-default .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.preview-content.theme-bear-default .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.preview-content.theme-bear-default .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.preview-content.theme-bear-default img {
  max-width: 100%;
  height: auto;
}
.preview-content.theme-bear-default u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #353535 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.preview-content.theme-bear-default a {
  color: #2478c5;
  text-decoration: none;
}
.preview-content.theme-bear-default a:hover, .preview-content.theme-bear-default a:focus, .preview-content.theme-bear-default a:active {
  text-decoration: underline;
}
.preview-content.theme-bear-default a img {
  border: none;
}
.preview-content.theme-bear-default b, .preview-content.theme-bear-default strong {
  font-weight: bold;
}
.preview-content.theme-bear-default i, .preview-content.theme-bear-default cite, .preview-content.theme-bear-default em, .preview-content.theme-bear-default var, .preview-content.theme-bear-default address, .preview-content.theme-bear-default dfn {
  font-style: italic;
}
.preview-content.theme-bear-default del, .preview-content.theme-bear-default s {
  color: #525252;
}
.preview-content.theme-bear-default pre, .preview-content.theme-bear-default xmp, .preview-content.theme-bear-default plaintext, .preview-content.theme-bear-default listing, .preview-content.theme-bear-default code, .preview-content.theme-bear-default kbd, .preview-content.theme-bear-default tt, .preview-content.theme-bear-default samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.preview-content.theme-bear-default code {
  display: inline;
  border: solid 1px #bfbfbf;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  color: #424242;
  background-color: white;
}
.preview-content.theme-bear-default pre > code {
  display: block;
  border: solid 1px #bfbfbf;
  padding: 0.7em 1em;
  font-size: 0.9em;
  overflow-x: auto;
}
.preview-content.theme-bear-default mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: #fcffc0;
}
.preview-content.theme-bear-default figcaption {
  text-align: center;
}
.preview-content.theme-bear-default table {
  color: #424242;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.preview-content.theme-bear-default th, .preview-content.theme-bear-default td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid #bfbfbf;
}
.preview-content.theme-bear-default caption, .preview-content.theme-bear-default th, .preview-content.theme-bear-default td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.preview-content.theme-bear-default div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.preview-content.theme-bear-default .footnotes > ol li {
  text-indent: 0;
}
.preview-content.theme-bear-default .footnotes > ol li::before {
  float: left;
}