@charset "UTF-8";
/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
/**
 * PrismJS 的样式表。颜色全部用变量表示，方便后续切换不同的配色方案。
 */
/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.preview-content.theme-contrast code[class*=language-],
.preview-content.theme-contrast pre[class*=language-] {
  color: #222222;
  background: none;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.preview-content.theme-contrast pre[class*=language-]::-moz-selection, .preview-content.theme-contrast pre[class*=language-] ::-moz-selection,
.preview-content.theme-contrast code[class*=language-]::-moz-selection, .preview-content.theme-contrast code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
.preview-content.theme-contrast pre[class*=language-]::selection, .preview-content.theme-contrast pre[class*=language-] ::selection,
.preview-content.theme-contrast code[class*=language-]::selection, .preview-content.theme-contrast code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  .preview-content.theme-contrast code[class*=language-],
  .preview-content.theme-contrast pre[class*=language-] {
    text-shadow: none;
  }
}
.preview-content.theme-contrast {
  /* Code blocks */
}
.preview-content.theme-contrast pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
.preview-content.theme-contrast :not(pre) > code[class*=language-],
.preview-content.theme-contrast pre[class*=language-] {
  background: white;
}
.preview-content.theme-contrast {
  /* Inline code */
}
.preview-content.theme-contrast :not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.preview-content.theme-contrast .token.comment,
.preview-content.theme-contrast .token.prolog,
.preview-content.theme-contrast .token.doctype,
.preview-content.theme-contrast .token.cdata {
  color: #575757;
}
.preview-content.theme-contrast .token.punctuation {
  color: #999;
}
.preview-content.theme-contrast .token.namespace {
  opacity: 0.7;
}
.preview-content.theme-contrast .token.number,
.preview-content.theme-contrast .token.boolean {
  color: #0b5d83;
}
.preview-content.theme-contrast .token.property,
.preview-content.theme-contrast .token.tag,
.preview-content.theme-contrast .token.constant,
.preview-content.theme-contrast .token.symbol,
.preview-content.theme-contrast .token.deleted {
  color: #905;
}
.preview-content.theme-contrast .token.selector,
.preview-content.theme-contrast .token.string,
.preview-content.theme-contrast .token.char,
.preview-content.theme-contrast .token.builtin,
.preview-content.theme-contrast .token.inserted {
  color: #b43d15;
}
.preview-content.theme-contrast .token.attr-name {
  color: #b43d15;
}
.preview-content.theme-contrast .token.char {
  color: #b43d15;
}
.preview-content.theme-contrast .token.operator,
.preview-content.theme-contrast .token.entity,
.preview-content.theme-contrast .token.url,
.preview-content.theme-contrast .language-css .token.string,
.preview-content.theme-contrast .style .token.string {
  color: #920448;
  background: none;
}
.preview-content.theme-contrast .token.atrule,
.preview-content.theme-contrast .token.attr-value,
.preview-content.theme-contrast .token.keyword {
  color: #2478c5;
}
.preview-content.theme-contrast .token.function,
.preview-content.theme-contrast .token.class-name {
  color: #2478c5;
}
.preview-content.theme-contrast .token.regex,
.preview-content.theme-contrast .token.important,
.preview-content.theme-contrast .token.variable {
  color: #0E73A2;
}
.preview-content.theme-contrast .token.important,
.preview-content.theme-contrast .token.bold {
  font-weight: bold;
}
.preview-content.theme-contrast .token.italic {
  font-style: italic;
}
.preview-content.theme-contrast .token.entity {
  cursor: help;
}

.preview-content.theme-contrast {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: #222222;
}

.preview-content.theme-contrast {
  background-color: #F9F9F9;
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  max-width: 46rem;
  margin: 0px auto;
  padding: 1.6em 3.2em;
}

.preview-content.theme-contrast * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.preview-content.theme-contrast > *:first-child {
  margin-top: 0 !important;
}
.preview-content.theme-contrast > *:last-child {
  margin-top: 0 !important;
}
.preview-content.theme-contrast p, .preview-content.theme-contrast pre, .preview-content.theme-contrast ul, .preview-content.theme-contrast ol, .preview-content.theme-contrast dl, .preview-content.theme-contrast form, .preview-content.theme-contrast details, .preview-content.theme-contrast dl, .preview-content.theme-contrast blockquote, .preview-content.theme-contrast table, .preview-content.theme-contrast xmp, .preview-content.theme-contrast plaintext, .preview-content.theme-contrast listing, .preview-content.theme-contrast figure,
.preview-content.theme-contrast pre[class*=language-] {
  margin: 0.75em 0 0.45em;
}
.preview-content.theme-contrast hr {
  margin: 0.75em auto;
}
.preview-content.theme-contrast ul ul, .preview-content.theme-contrast ul ol, .preview-content.theme-contrast ol ul, .preview-content.theme-contrast ol ol {
  margin-bottom: 0px;
}
.preview-content.theme-contrast h1, .preview-content.theme-contrast h2, .preview-content.theme-contrast h3, .preview-content.theme-contrast h4, .preview-content.theme-contrast h5, .preview-content.theme-contrast h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 500;
  line-height: 1.5em;
  color: #262626;
}
.preview-content.theme-contrast h1 {
  font-size: 1.5em;
}
.preview-content.theme-contrast h2 {
  font-size: 1.3em;
}
.preview-content.theme-contrast h3 {
  font-size: 1.1em;
}
.preview-content.theme-contrast h4 {
  font-size: 1em;
}
.preview-content.theme-contrast h5 {
  font-size: 1em;
}
.preview-content.theme-contrast h6 {
  font-size: 1em;
}
.preview-content.theme-contrast hr {
  height: 1px;
  border: 0;
  background-color: #bfbfbf;
  border-style: inset;
  border-width: 1px;
}
.preview-content.theme-contrast p {
  margin-left: 0;
  margin-right: 0;
}
.preview-content.theme-contrast pre, .preview-content.theme-contrast pre[class*=language-] {
  padding: 0;
  border: 0;
}
.preview-content.theme-contrast blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid #2478c5;
}
.preview-content.theme-contrast blockquote > :first-child {
  margin-top: 0;
}
.preview-content.theme-contrast blockquote > :last-child {
  margin-bottom: 0;
}
.preview-content.theme-contrast li {
  word-wrap: break-all;
}
.preview-content.theme-contrast ul, .preview-content.theme-contrast ol {
  list-style: none;
}
.preview-content.theme-contrast ul {
  margin-left: 1.3em;
  padding: 0;
}
.preview-content.theme-contrast ol {
  margin-left: 1.3em;
  padding: 0;
  counter-reset: ol_counter;
}
.preview-content.theme-contrast ul > li {
  position: relative;
}
.preview-content.theme-contrast ul > li:before {
  content: "•";
  color: #2478c5;
  position: absolute;
  left: -1.1em;
}
.preview-content.theme-contrast ol > li {
  position: relative;
}
.preview-content.theme-contrast ol > li:before {
  content: counter(ol_counter) ".";
  counter-increment: ol_counter;
  color: #2478c5;
  text-align: right;
  min-width: 1em;
  position: absolute;
  left: -1.5em;
}
.preview-content.theme-contrast li + li {
  margin-top: 0.25em;
}
.preview-content.theme-contrast ul ul, .preview-content.theme-contrast ol ul, .preview-content.theme-contrast ul ol, .preview-content.theme-contrast ol ol, .preview-content.theme-contrast li ul, .preview-content.theme-contrast li ol {
  margin-top: 0.25em;
  margin-left: 2em;
}
.preview-content.theme-contrast .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.preview-content.theme-contrast .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.preview-content.theme-contrast .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.preview-content.theme-contrast img {
  max-width: 100%;
  height: auto;
}
.preview-content.theme-contrast u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #2478c5 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.preview-content.theme-contrast a {
  color: #2478c5;
  text-decoration: none;
}
.preview-content.theme-contrast a:hover, .preview-content.theme-contrast a:focus, .preview-content.theme-contrast a:active {
  text-decoration: underline;
}
.preview-content.theme-contrast a img {
  border: none;
}
.preview-content.theme-contrast b, .preview-content.theme-contrast strong {
  font-weight: bold;
}
.preview-content.theme-contrast i, .preview-content.theme-contrast cite, .preview-content.theme-contrast em, .preview-content.theme-contrast var, .preview-content.theme-contrast address, .preview-content.theme-contrast dfn {
  font-style: italic;
}
.preview-content.theme-contrast del, .preview-content.theme-contrast s {
  color: #525252;
}
.preview-content.theme-contrast pre, .preview-content.theme-contrast xmp, .preview-content.theme-contrast plaintext, .preview-content.theme-contrast listing, .preview-content.theme-contrast code, .preview-content.theme-contrast kbd, .preview-content.theme-contrast tt, .preview-content.theme-contrast samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.preview-content.theme-contrast code {
  display: inline;
  border: solid 1px #bfbfbf;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  color: #424242;
  background-color: white;
}
.preview-content.theme-contrast pre > code {
  display: block;
  border: solid 1px #bfbfbf;
  padding: 0.7em 1em;
  font-size: 0.9em;
  overflow-x: auto;
}
.preview-content.theme-contrast mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: #d3ffa4;
}
.preview-content.theme-contrast figcaption {
  text-align: center;
}
.preview-content.theme-contrast table {
  color: #424242;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.preview-content.theme-contrast th, .preview-content.theme-contrast td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid #bfbfbf;
}
.preview-content.theme-contrast caption, .preview-content.theme-contrast th, .preview-content.theme-contrast td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.preview-content.theme-contrast div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.preview-content.theme-contrast .footnotes > ol li {
  text-indent: 0;
}
.preview-content.theme-contrast .footnotes > ol li::before {
  float: left;
}