@charset "UTF-8";
/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
/**
 * PrismJS 的样式表。颜色全部用变量表示，方便后续切换不同的配色方案。
 */
/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.preview-content.theme-panic code[class*=language-],
.preview-content.theme-panic pre[class*=language-] {
  color: rgb(246, 247, 238);
  background: none;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.preview-content.theme-panic pre[class*=language-]::-moz-selection, .preview-content.theme-panic pre[class*=language-] ::-moz-selection,
.preview-content.theme-panic code[class*=language-]::-moz-selection, .preview-content.theme-panic code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
.preview-content.theme-panic pre[class*=language-]::selection, .preview-content.theme-panic pre[class*=language-] ::selection,
.preview-content.theme-panic code[class*=language-]::selection, .preview-content.theme-panic code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  .preview-content.theme-panic code[class*=language-],
  .preview-content.theme-panic pre[class*=language-] {
    text-shadow: none;
  }
}
.preview-content.theme-panic {
  /* Code blocks */
}
.preview-content.theme-panic pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
.preview-content.theme-panic :not(pre) > code[class*=language-],
.preview-content.theme-panic pre[class*=language-] {
  background: rgb(23, 33, 52);
}
.preview-content.theme-panic {
  /* Inline code */
}
.preview-content.theme-panic :not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.preview-content.theme-panic .token.comment,
.preview-content.theme-panic .token.prolog,
.preview-content.theme-panic .token.doctype,
.preview-content.theme-panic .token.cdata {
  color: rgb(112, 121, 130);
}
.preview-content.theme-panic .token.punctuation {
  color: #999;
}
.preview-content.theme-panic .token.namespace {
  opacity: 0.7;
}
.preview-content.theme-panic .token.number,
.preview-content.theme-panic .token.boolean {
  color: rgb(188, 169, 229);
}
.preview-content.theme-panic .token.property,
.preview-content.theme-panic .token.tag,
.preview-content.theme-panic .token.constant,
.preview-content.theme-panic .token.symbol,
.preview-content.theme-panic .token.deleted {
  color: #905;
}
.preview-content.theme-panic .token.selector,
.preview-content.theme-panic .token.string,
.preview-content.theme-panic .token.char,
.preview-content.theme-panic .token.builtin,
.preview-content.theme-panic .token.inserted {
  color: rgb(252, 193, 70);
}
.preview-content.theme-panic .token.attr-name {
  color: rgb(252, 193, 70);
}
.preview-content.theme-panic .token.char {
  color: rgb(252, 193, 70);
}
.preview-content.theme-panic .token.operator,
.preview-content.theme-panic .token.entity,
.preview-content.theme-panic .token.url,
.preview-content.theme-panic .language-css .token.string,
.preview-content.theme-panic .style .token.string {
  color: #920448;
  background: none;
}
.preview-content.theme-panic .token.atrule,
.preview-content.theme-panic .token.attr-value,
.preview-content.theme-panic .token.keyword {
  color: rgb(188, 169, 229);
}
.preview-content.theme-panic .token.function,
.preview-content.theme-panic .token.class-name {
  color: rgb(188, 169, 229);
}
.preview-content.theme-panic .token.regex,
.preview-content.theme-panic .token.important,
.preview-content.theme-panic .token.variable {
  color: #0E73A2;
}
.preview-content.theme-panic .token.important,
.preview-content.theme-panic .token.bold {
  font-weight: bold;
}
.preview-content.theme-panic .token.italic {
  font-style: italic;
}
.preview-content.theme-panic .token.entity {
  cursor: help;
}

.preview-content.theme-panic {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(246, 247, 238);
}

.preview-content.theme-panic {
  background-color: rgb(17, 28, 42);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  max-width: 46rem;
  margin: 0px auto;
  padding: 1.6em 3.2em;
}

.preview-content.theme-panic * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.preview-content.theme-panic > *:first-child {
  margin-top: 0 !important;
}
.preview-content.theme-panic > *:last-child {
  margin-top: 0 !important;
}
.preview-content.theme-panic p, .preview-content.theme-panic pre, .preview-content.theme-panic ul, .preview-content.theme-panic ol, .preview-content.theme-panic dl, .preview-content.theme-panic form, .preview-content.theme-panic details, .preview-content.theme-panic dl, .preview-content.theme-panic blockquote, .preview-content.theme-panic table, .preview-content.theme-panic xmp, .preview-content.theme-panic plaintext, .preview-content.theme-panic listing, .preview-content.theme-panic figure,
.preview-content.theme-panic pre[class*=language-] {
  margin: 0.75em 0 0.45em;
}
.preview-content.theme-panic hr {
  margin: 0.75em auto;
}
.preview-content.theme-panic ul ul, .preview-content.theme-panic ul ol, .preview-content.theme-panic ol ul, .preview-content.theme-panic ol ol {
  margin-bottom: 0px;
}
.preview-content.theme-panic h1, .preview-content.theme-panic h2, .preview-content.theme-panic h3, .preview-content.theme-panic h4, .preview-content.theme-panic h5, .preview-content.theme-panic h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 500;
  line-height: 1.5em;
  color: rgb(249, 181, 55);
}
.preview-content.theme-panic h1 {
  font-size: 1.5em;
}
.preview-content.theme-panic h2 {
  font-size: 1.3em;
}
.preview-content.theme-panic h3 {
  font-size: 1.1em;
}
.preview-content.theme-panic h4 {
  font-size: 1em;
}
.preview-content.theme-panic h5 {
  font-size: 1em;
}
.preview-content.theme-panic h6 {
  font-size: 1em;
}
.preview-content.theme-panic hr {
  height: 1px;
  border: 0;
  background-color: rgb(45, 69, 98);
  border-style: inset;
  border-width: 1px;
}
.preview-content.theme-panic p {
  margin-left: 0;
  margin-right: 0;
}
.preview-content.theme-panic pre, .preview-content.theme-panic pre[class*=language-] {
  padding: 0;
  border: 0;
}
.preview-content.theme-panic blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(249, 181, 55);
}
.preview-content.theme-panic blockquote > :first-child {
  margin-top: 0;
}
.preview-content.theme-panic blockquote > :last-child {
  margin-bottom: 0;
}
.preview-content.theme-panic li {
  word-wrap: break-all;
}
.preview-content.theme-panic ul, .preview-content.theme-panic ol {
  list-style: none;
}
.preview-content.theme-panic ul {
  margin-left: 1.3em;
  padding: 0;
}
.preview-content.theme-panic ol {
  margin-left: 1.3em;
  padding: 0;
  counter-reset: ol_counter;
}
.preview-content.theme-panic ul > li {
  position: relative;
}
.preview-content.theme-panic ul > li:before {
  content: "•";
  color: rgb(249, 181, 55);
  position: absolute;
  left: -1.1em;
}
.preview-content.theme-panic ol > li {
  position: relative;
}
.preview-content.theme-panic ol > li:before {
  content: counter(ol_counter) ".";
  counter-increment: ol_counter;
  color: rgb(249, 181, 55);
  text-align: right;
  min-width: 1em;
  position: absolute;
  left: -1.5em;
}
.preview-content.theme-panic li + li {
  margin-top: 0.25em;
}
.preview-content.theme-panic ul ul, .preview-content.theme-panic ol ul, .preview-content.theme-panic ul ol, .preview-content.theme-panic ol ol, .preview-content.theme-panic li ul, .preview-content.theme-panic li ol {
  margin-top: 0.25em;
  margin-left: 2em;
}
.preview-content.theme-panic .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.preview-content.theme-panic .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.preview-content.theme-panic .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.preview-content.theme-panic img {
  max-width: 100%;
  height: auto;
}
.preview-content.theme-panic u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(249, 181, 55) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.preview-content.theme-panic a {
  color: rgb(84, 193, 220);
  text-decoration: none;
}
.preview-content.theme-panic a:hover, .preview-content.theme-panic a:focus, .preview-content.theme-panic a:active {
  text-decoration: underline;
}
.preview-content.theme-panic a img {
  border: none;
}
.preview-content.theme-panic b, .preview-content.theme-panic strong {
  font-weight: bold;
}
.preview-content.theme-panic i, .preview-content.theme-panic cite, .preview-content.theme-panic em, .preview-content.theme-panic var, .preview-content.theme-panic address, .preview-content.theme-panic dfn {
  font-style: italic;
}
.preview-content.theme-panic del, .preview-content.theme-panic s {
  color: rgb(176, 176, 176);
}
.preview-content.theme-panic pre, .preview-content.theme-panic xmp, .preview-content.theme-panic plaintext, .preview-content.theme-panic listing, .preview-content.theme-panic code, .preview-content.theme-panic kbd, .preview-content.theme-panic tt, .preview-content.theme-panic samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.preview-content.theme-panic code {
  display: inline;
  border: solid 1px rgb(45, 69, 98);
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  color: rgb(246, 247, 238);
  background-color: rgb(23, 33, 52);
}
.preview-content.theme-panic pre > code {
  display: block;
  border: solid 1px rgb(45, 69, 98);
  padding: 0.7em 1em;
  font-size: 0.9em;
  overflow-x: auto;
}
.preview-content.theme-panic mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(45, 78, 120);
}
.preview-content.theme-panic figcaption {
  text-align: center;
}
.preview-content.theme-panic table {
  color: rgb(246, 247, 238);
  border-collapse: collapse;
  background-color: rgb(23, 33, 52);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.preview-content.theme-panic th, .preview-content.theme-panic td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(45, 69, 98);
}
.preview-content.theme-panic caption, .preview-content.theme-panic th, .preview-content.theme-panic td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.preview-content.theme-panic div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.preview-content.theme-panic .footnotes > ol li {
  text-indent: 0;
}
.preview-content.theme-panic .footnotes > ol li::before {
  float: left;
}