@charset "UTF-8";
/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
/**
 * PrismJS 的样式表。颜色全部用变量表示，方便后续切换不同的配色方案。
 */
/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.preview-content.theme-solarized-light code[class*=language-],
.preview-content.theme-solarized-light pre[class*=language-] {
  color: rgb(50, 62, 69);
  background: none;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.preview-content.theme-solarized-light pre[class*=language-]::-moz-selection, .preview-content.theme-solarized-light pre[class*=language-] ::-moz-selection,
.preview-content.theme-solarized-light code[class*=language-]::-moz-selection, .preview-content.theme-solarized-light code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
.preview-content.theme-solarized-light pre[class*=language-]::selection, .preview-content.theme-solarized-light pre[class*=language-] ::selection,
.preview-content.theme-solarized-light code[class*=language-]::selection, .preview-content.theme-solarized-light code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  .preview-content.theme-solarized-light code[class*=language-],
  .preview-content.theme-solarized-light pre[class*=language-] {
    text-shadow: none;
  }
}
.preview-content.theme-solarized-light {
  /* Code blocks */
}
.preview-content.theme-solarized-light pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
.preview-content.theme-solarized-light :not(pre) > code[class*=language-],
.preview-content.theme-solarized-light pre[class*=language-] {
  background: rgb(252, 244, 220);
}
.preview-content.theme-solarized-light {
  /* Inline code */
}
.preview-content.theme-solarized-light :not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.preview-content.theme-solarized-light .token.comment,
.preview-content.theme-solarized-light .token.prolog,
.preview-content.theme-solarized-light .token.doctype,
.preview-content.theme-solarized-light .token.cdata {
  color: rgb(131, 131, 131);
}
.preview-content.theme-solarized-light .token.punctuation {
  color: #999;
}
.preview-content.theme-solarized-light .token.namespace {
  opacity: 0.7;
}
.preview-content.theme-solarized-light .token.number,
.preview-content.theme-solarized-light .token.boolean {
  color: rgb(16, 127, 178);
}
.preview-content.theme-solarized-light .token.property,
.preview-content.theme-solarized-light .token.tag,
.preview-content.theme-solarized-light .token.constant,
.preview-content.theme-solarized-light .token.symbol,
.preview-content.theme-solarized-light .token.deleted {
  color: #905;
}
.preview-content.theme-solarized-light .token.selector,
.preview-content.theme-solarized-light .token.string,
.preview-content.theme-solarized-light .token.char,
.preview-content.theme-solarized-light .token.builtin,
.preview-content.theme-solarized-light .token.inserted {
  color: rgb(211, 57, 5);
}
.preview-content.theme-solarized-light .token.attr-name {
  color: rgb(211, 57, 5);
}
.preview-content.theme-solarized-light .token.char {
  color: rgb(211, 57, 5);
}
.preview-content.theme-solarized-light .token.operator,
.preview-content.theme-solarized-light .token.entity,
.preview-content.theme-solarized-light .token.url,
.preview-content.theme-solarized-light .language-css .token.string,
.preview-content.theme-solarized-light .style .token.string {
  color: #920448;
  background: none;
}
.preview-content.theme-solarized-light .token.atrule,
.preview-content.theme-solarized-light .token.attr-value,
.preview-content.theme-solarized-light .token.keyword {
  color: rgb(16, 130, 183);
}
.preview-content.theme-solarized-light .token.function,
.preview-content.theme-solarized-light .token.class-name {
  color: rgb(16, 130, 183);
}
.preview-content.theme-solarized-light .token.regex,
.preview-content.theme-solarized-light .token.important,
.preview-content.theme-solarized-light .token.variable {
  color: #0E73A2;
}
.preview-content.theme-solarized-light .token.important,
.preview-content.theme-solarized-light .token.bold {
  font-weight: bold;
}
.preview-content.theme-solarized-light .token.italic {
  font-style: italic;
}
.preview-content.theme-solarized-light .token.entity {
  cursor: help;
}

.preview-content.theme-solarized-light {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(50, 62, 69);
}

.preview-content.theme-solarized-light {
  background-color: rgb(253, 246, 227);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  max-width: 46rem;
  margin: 0px auto;
  padding: 1.6em 3.2em;
}

.preview-content.theme-solarized-light * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.preview-content.theme-solarized-light > *:first-child {
  margin-top: 0 !important;
}
.preview-content.theme-solarized-light > *:last-child {
  margin-top: 0 !important;
}
.preview-content.theme-solarized-light p, .preview-content.theme-solarized-light pre, .preview-content.theme-solarized-light ul, .preview-content.theme-solarized-light ol, .preview-content.theme-solarized-light dl, .preview-content.theme-solarized-light form, .preview-content.theme-solarized-light details, .preview-content.theme-solarized-light dl, .preview-content.theme-solarized-light blockquote, .preview-content.theme-solarized-light table, .preview-content.theme-solarized-light xmp, .preview-content.theme-solarized-light plaintext, .preview-content.theme-solarized-light listing, .preview-content.theme-solarized-light figure,
.preview-content.theme-solarized-light pre[class*=language-] {
  margin: 0.75em 0 0.45em;
}
.preview-content.theme-solarized-light hr {
  margin: 0.75em auto;
}
.preview-content.theme-solarized-light ul ul, .preview-content.theme-solarized-light ul ol, .preview-content.theme-solarized-light ol ul, .preview-content.theme-solarized-light ol ol {
  margin-bottom: 0px;
}
.preview-content.theme-solarized-light h1, .preview-content.theme-solarized-light h2, .preview-content.theme-solarized-light h3, .preview-content.theme-solarized-light h4, .preview-content.theme-solarized-light h5, .preview-content.theme-solarized-light h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 500;
  line-height: 1.5em;
  color: rgb(59, 79, 84);
}
.preview-content.theme-solarized-light h1 {
  font-size: 1.5em;
}
.preview-content.theme-solarized-light h2 {
  font-size: 1.3em;
}
.preview-content.theme-solarized-light h3 {
  font-size: 1.1em;
}
.preview-content.theme-solarized-light h4 {
  font-size: 1em;
}
.preview-content.theme-solarized-light h5 {
  font-size: 1em;
}
.preview-content.theme-solarized-light h6 {
  font-size: 1em;
}
.preview-content.theme-solarized-light hr {
  height: 1px;
  border: 0;
  background-color: rgba(147, 161, 161, 0.5);
  border-style: inset;
  border-width: 1px;
}
.preview-content.theme-solarized-light p {
  margin-left: 0;
  margin-right: 0;
}
.preview-content.theme-solarized-light pre, .preview-content.theme-solarized-light pre[class*=language-] {
  padding: 0;
  border: 0;
}
.preview-content.theme-solarized-light blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(165, 104, 18);
}
.preview-content.theme-solarized-light blockquote > :first-child {
  margin-top: 0;
}
.preview-content.theme-solarized-light blockquote > :last-child {
  margin-bottom: 0;
}
.preview-content.theme-solarized-light li {
  word-wrap: break-all;
}
.preview-content.theme-solarized-light ul, .preview-content.theme-solarized-light ol {
  list-style: none;
}
.preview-content.theme-solarized-light ul {
  margin-left: 1.3em;
  padding: 0;
}
.preview-content.theme-solarized-light ol {
  margin-left: 1.3em;
  padding: 0;
  counter-reset: ol_counter;
}
.preview-content.theme-solarized-light ul > li {
  position: relative;
}
.preview-content.theme-solarized-light ul > li:before {
  content: "•";
  color: rgb(165, 104, 18);
  position: absolute;
  left: -1.1em;
}
.preview-content.theme-solarized-light ol > li {
  position: relative;
}
.preview-content.theme-solarized-light ol > li:before {
  content: counter(ol_counter) ".";
  counter-increment: ol_counter;
  color: rgb(165, 104, 18);
  text-align: right;
  min-width: 1em;
  position: absolute;
  left: -1.5em;
}
.preview-content.theme-solarized-light li + li {
  margin-top: 0.25em;
}
.preview-content.theme-solarized-light ul ul, .preview-content.theme-solarized-light ol ul, .preview-content.theme-solarized-light ul ol, .preview-content.theme-solarized-light ol ol, .preview-content.theme-solarized-light li ul, .preview-content.theme-solarized-light li ol {
  margin-top: 0.25em;
  margin-left: 2em;
}
.preview-content.theme-solarized-light .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.preview-content.theme-solarized-light .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.preview-content.theme-solarized-light .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.preview-content.theme-solarized-light img {
  max-width: 100%;
  height: auto;
}
.preview-content.theme-solarized-light u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(165, 104, 18) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.preview-content.theme-solarized-light a {
  color: rgb(172, 117, 20);
  text-decoration: none;
}
.preview-content.theme-solarized-light a:hover, .preview-content.theme-solarized-light a:focus, .preview-content.theme-solarized-light a:active {
  text-decoration: underline;
}
.preview-content.theme-solarized-light a img {
  border: none;
}
.preview-content.theme-solarized-light b, .preview-content.theme-solarized-light strong {
  font-weight: bold;
}
.preview-content.theme-solarized-light i, .preview-content.theme-solarized-light cite, .preview-content.theme-solarized-light em, .preview-content.theme-solarized-light var, .preview-content.theme-solarized-light address, .preview-content.theme-solarized-light dfn {
  font-style: italic;
}
.preview-content.theme-solarized-light del, .preview-content.theme-solarized-light s {
  color: rgb(113, 127, 125);
}
.preview-content.theme-solarized-light pre, .preview-content.theme-solarized-light xmp, .preview-content.theme-solarized-light plaintext, .preview-content.theme-solarized-light listing, .preview-content.theme-solarized-light code, .preview-content.theme-solarized-light kbd, .preview-content.theme-solarized-light tt, .preview-content.theme-solarized-light samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.preview-content.theme-solarized-light code {
  display: inline;
  border: solid 1px rgba(147, 161, 161, 0.5);
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  color: rgb(101, 123, 131);
  background-color: rgb(252, 244, 220);
}
.preview-content.theme-solarized-light pre > code {
  display: block;
  border: solid 1px rgba(147, 161, 161, 0.5);
  padding: 0.7em 1em;
  font-size: 0.9em;
  overflow-x: auto;
}
.preview-content.theme-solarized-light mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(202, 255, 147);
}
.preview-content.theme-solarized-light figcaption {
  text-align: center;
}
.preview-content.theme-solarized-light table {
  color: rgb(101, 123, 131);
  border-collapse: collapse;
  background-color: rgb(252, 244, 220);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.preview-content.theme-solarized-light th, .preview-content.theme-solarized-light td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgba(147, 161, 161, 0.5);
}
.preview-content.theme-solarized-light caption, .preview-content.theme-solarized-light th, .preview-content.theme-solarized-light td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.preview-content.theme-solarized-light div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.preview-content.theme-solarized-light .footnotes > ol li {
  text-indent: 0;
}
.preview-content.theme-solarized-light .footnotes > ol li::before {
  float: left;
}